@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Montserrat:wght@300&display=swap');


body {
    text-align: center;
    color: white;
    background-color: darkslategray;
}
main {
    margin: auto;
}
h1, h2 {
    font-family: "EB Garamond";
    font-weight: 400;
}
h1 {
    margin: 2em auto;
    font-size:2.5em;
    font-weight: 500;
}
p {
    font-family: "Montserrat";
}
#cards {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
section {
    flex: 1 100%;
    max-width: 25em;
    margin: 1.5em;
    padding: 1em;
    border-radius: 5px;
    background-color: #2E5860;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}
section h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
}
p {
    font-size: .9em;
    margin-bottom: .3em;
}
section img {
    margin: 1em 0 .5em;
    border-radius: 5px;
}

footer {
    color: lightgray;
    margin: 100px auto 50px;
}

@media (min-width: 600px) {
    main {
        max-width: 800px;
    }
    #cards{
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 1000px) {
    main {
        max-width: 1400px;
    }
    #cards {
        grid-template-columns: 25% 25% 25% 25%;
    }
}