@media (min-width: 1000px) {

    body {
        max-width: 1000px;
        margin: auto;
    }

    #navigation {
        display: flex;
        justify-content: center;
    }
    .fa-bars {
        display: none;
    }

    .up {
        top: 0 !important;
    }

}