@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Quicksand";
    font-weight: 500;
}
h1 {
    font-family: "Lusitana";
    font-size: 24px;
}
header, main, footer {
    padding: 20px;
}
#header-logo {
    max-width: 100px;
}
h1 {
    font-size: 2.5em;
    margin: 0;
}
h2 {
    font-size: 1.2em;
}

#navigation {
    display: flex;
}
#navigation li {
    display: block;
}
#navigation .active {
    display: none;
}

