@media only screen and (min-width: 780px) {


#header-div {
    padding: 20px 50px;
    display: grid;
    
    grid-template-columns: 125px 270px auto;
    grid-template-rows: 180px 75px;
}
#header-logo {
    max-width: 110px;
}
h1 {
    font-size: 54px;
}
h2 {
    font-size: 20px;
}
nav {
    position: relative;
    right: 20px !important;
}
#menu-icon {
    font-size: 24px;
}
h3, p {
    font-size: 16px !important;
}
.social-icon {
    width: 40px;
}


main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 15px 25px;

    padding: 50px;
}


}