/* Chosen Fonts:
    Headings: Permanent Marker
    Subheadings & Body: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap');

/* Variables */
:root {
    --black: #25232D;
    --gray: #495960;
    --off-white: #F1F1F1;
    --white: #FEFEFE;

    --hg-start: #004C6A;
    --hg-end: #023047;
    --hg: linear-gradient(var(--hg-start), var(--hg-end));

    --bg-color: #E9F8FF;
}

* {
    box-sizing: border-box;
}



body {
    background-color: var(--bg-color);
}

header {
    background: var(--hg);
}